* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}



#to_by {
    height: 70px;
    background-color: #f8f4f4;
    display: grid;
    align-items: center;
    padding: 10px 20px;

}

#fare_details {
    height: 60px;
    background-color: white;
    font-size: medium;
}

#grid_part {
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;

}

#grid_part>#sidebar {
    padding: 10px;
    display: grid;
    align-content: space-between;
    height: 1000px;
    font-size: small;
}

#grid_part>#sidebar>input {
    padding: 5px;
    width: fit-content;

}

#fare_details+hr {
    margin-bottom: 50px;
}

#grid_part>#sidebar>span {
    border: 1px solid grey;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

#main_section {
    font-size: small;
}

#discountcard {
    overflow: auto;
    width: 76vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;

}

#discountcard>img {
    width: 150px;
}

#discountcard+h2 {
    margin: 10px;
    font-size: small;
}

#discountcard+h2+hr {
    border: 1px solid rgb(233, 223, 223);
    margin: 10px auto;
}

#sort_section {
    display: flex;
    column-gap: 50px;
    position: sticky;
}

#sort_section>div {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

#all_bus_data {
    display: grid;
    row-gap: 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#all_bus_data>div {
    border: 1px solid grey;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
    grid-template-areas: "one two three";
}

#all_bus_data>div>div {
    display: grid;
    row-gap: 40px;
}

.six>button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}

#all_bus_data>div>:first-child>p {
    font-weight: bolder;

}

#all_bus_data>div>:nth-child(2)>p {
    font-weight: bolder;

}

#all_bus_data>div>:nth-child(3)>p {
    font-weight: bolder;

}

#all_bus_data>div>:nth-child(3)>p+p {
    /* font-weight: bolder; */
    font-weight: normal;
    color: red;

}

#all_bus_data>div>:nth-child(5)>:first-child {
    font-weight: bolder;

}

#all_bus_data>div>:nth-child(4)>:first-child {
    background-color: green;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

#seven {
    /* background-color: #d84f57; */
    grid-area: 2/1/3/7;
    height: 400px;
    background-color: #eeeded;
    align-content: flex-start;
   
    
}

#seatprice_hover{
    display: flex;
    column-gap: 30px;
    padding-left: 50px;
    height: 70px;
    border-bottom: 1px solid grey;
    align-items: center;

}
#seatprice_hover>p{
    border: 1px solid grey;
    width: 80px;
    height: fit-content;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}
#seatprice_hover>:first-child{
    background-color: #545454;
    color: white;
}
#seatprice_hover>p:hover{
    background-color: #545454;
    color: white;
    cursor: pointer;
}
#seven_container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 95%;
    margin: auto;
    column-gap: 20px;
}
#cont_left>#lower_deck{
    background-color: white;
    width: fit-content;
    margin: auto;
}
#cont_left>p{
    margin: auto;
    margin-bottom: 10px;
    background-color: #d84f57;
    color: white;
    padding: 5px 10px;
    width: fit-content;

}
#cont_right{
    display: grid;
    row-gap: 5px;

}
#cont_right>div{
    display: flex;
    margin: 10px 0;
    row-gap: 5px;
}
#cont_right>div>input{
    width: 40px;
    margin-right: 5px;
    
}
#cont_right>div>p{
    margin-right: 30px;
    width: fit-content;
}
#cont_right>div>p+input{
    background-color: #545454;
    border: 1px solid #545454;
}
#lower_deck{
    padding: 10px;
    display: flex;
    column-gap: 10px;
}
#outer{
    display: grid;
    row-gap: 10px;
}
#outer button{
    background-color: white;
    border: none;
}
.seat_svg{
    display: flex;
    column-gap: 5px;
}
.material-symbols-outlined{
    font-size: 30px;
}
.sleeper_svg{
    width: 100%;
    display: flex;
}
.sleeper_svg>button>.material-symbols-outlined{
    font-size: 59px;
    
}
#driver{
    background-color: #7e7777;
    padding: 10px;
    color: white;
}

#cont_right>#first{
    border-bottom: 1px solid black;
    
}
#cont_right>#second{
    border-bottom: 1px solid black;
    
}
#cont_right{
    padding: 10px;
}
#continue{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d84f57;
    color: white;
    font-weight: bold;
    padding: 20px;
}

#payment_page{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    
}
#pay_side{
    width: 60%;
    height: 100vh;
    background-color: grey;
    opacity: 0.1;

}
#pay_side2{
    width: 40%;
    height: 100vh;
    background-color: white;
    z-index: 100;
}
#side_one{
    display: flex;
    padding: 20px 0;
    column-gap: 50px;
    height: 10vh;
}
#side_two>div>div{
    display: flex;
    gap: 30px;
    margin: 10px 0;
}
#side_two{
display: grid;
row-gap: 20px;
align-content: flex-start;
height: 75vh;
overflow: auto;
}
#side_two>div{
    padding: 20px 30px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 15px;
    width: 90%;
    margin: auto;
}
#side_two>div>div>p+p{
    border-left: 1px solid;
    padding-left: 20px;
    color: rgb(14, 149, 202);
    font-weight: 900;
    
}
#side_two>div>input{
    padding: 5px;
    width: 90%;
    font-size: 17px;
}
#side_two>div>div>:first-child>div{
    display: flex;
    column-gap: 2px;
}
#side_two>div>div>:first-child>div>:nth-child(3){
    margin-left: 10px;
}
#side_two>div>:last-child{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
#side_two>div>:last-child>div{
    display: grid;
    row-gap: 20px;
}
#side_two>div>:last-child>:first-child>div{
display: flex;
align-items: center;
}
    

#side_two>div>:last-child>:last-child input{
    width: 80px;
    padding: 10px 0;
    text-align: center;
}
#contact_msg>:first-child{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
   border: none;
   color: rgb(201, 149, 6);

}
#contact_msg>:nth-child(2){
    background-color: yellow;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
}
#contact_msg>:nth-child(4){
    margin-bottom: 10px;
}

#side_three{
    border-top: 1px solid grey;
    padding: 10px;
}
#side_three>p{
    width: 90%;
    font-size: 14px;
    margin: 10px auto;
    
    
}
#side_three>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
#side_three>div>:first-child{
    font-weight: bold;
}
#side_three>div>:last-child{
    font-weight: bold;
    background-color: #d84f57;
    color: white;
    padding: 10px;
    border: none;
}